@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Source+Sans+Pro:wght@300&display=swap" );

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/buttom.css");
@import url("components/banner.css");
@import url("components/card.css");

body {

	font-family:'Source Sans Pro', sans-serif;
	font-size: 18px;
}

h1,h2,h3{ 
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
 }

 a{
 	text-decoration: none;
 }

#salle{
	width: 300px;
}

.btn-blue{
	background-color:#6B72E1 ;
	color:  white;
	padding:  15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: black;
	color:white;